body {
  background-image: url('pexels-andrea-piacquadio-5046423.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  margin: 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
}
